.vs/
.idea/
.vscode/

Config/
Content/

Binaries/
Intermediate/
DerivedDataCache/
Saved/

Plugins/*/Binaries/
Plugins/*/Intermediate/

*.vsconfig
*.uproject
*.sln

!Plugins/*/Source/**
!Plugins/*/Resources/**
!Plugins/*/*.uplugin